# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches/
!.yarn/plugins/
!.yarn/releases/
!.yarn/versions/

# testing
/coverage/

# next.js
/.next/
/out/

# production builds
/build/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
firebase-debug.log*
firestore-debug.log*
ui-debug.log*
database-debug.log*
pubsub-debug.log*
storage-debug.log*

# env files (keep examples if needed)
.env*
!.env.example
!.env.sample
!.env.template

# vercel
.vercel/

# firebase
/.firebase/
firebase.ts

# typescript
*.tsbuildinfo
next-env.d.ts

# key
*.mikustart
/key/

# generated
/src/generated/prisma/
